<!DOCTYPE html>
<html>
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'myLift_app/showYourRides.css' %}">
    <title>Show Available Rides for Drivers</title>
</head>
<body>
  <div class = "return">
      <a href="{% url 'driverRideSearch' %}">Return</a>
  </div>
    {% if rides%}
        <h2>Here are rides available for you</h2>
        {% for ride in rides %}
            <form action="{% url 'confirmRides' ride.id %}" method="POST">
        <table>
                {% for field, value in ride%}
                <tr><th>{{field}}:</th>
                   <td>{{value}}</td></tr>
                {% csrf_token %}
                {% endfor %}
              </table>
                <button type="submit" name="confirmed">confirm</button>
            </form>
        {% endfor%}
    {% else%}
        <h2>No rides available right now</h2>
    {% endif%}

</body>
</html>
